:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Logo txt colors */
  --primary-logo-cl: #4D5AE5;
  --secondary-logo-cl: #2E2F42;
  --footer-studio-cl: #F4F4FD;

  /* Text colors */
  --primary-txt-cl: #434455;
  --secondary-txt-cl: #2E2F42;
  --hero-txt-cl: #FFFFFF;    
  --footer-txt-cl: #F4F4FD;
  --accent-link-txt-cl: #404BBF;  

  /* Background colors */
  --page-bgd-cl: #FFFFFF;  
  --header-bgd-cl: #2E2F42;
  --team-bgd-cl: #F4F4FD;
  --footer-bgd-cl: #2E2F42;

  /* Buttons text colors */
  --btn-hero-txt-cl: #FFFFFF;   
  --btns-portfolio-txt-cl: #4D5AE5;
  --accent-btns-portfolio-txt-cl: #FFFFFF; 
  
  /* Buttons background colors */
  --btn-hero-bgd-cl: #4D5AE5;  
  --btns-portfolio-bgd-cl: #F4F4FD;
  --accent-btns-bgd-cl: #404BBF;  
}

.page {
  font-family: var(--primary-font);
  letter-spacing: 0.02em;

  color: var(--primary-txt-cl);  
  background-color: var(--page-bgd-cl);
}

/* Reset */

.hidden {
  display: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header */

/* .header-logo-web,
.header-logo-studio  */
.header-logo {
  font-family: var(--secondary-font);  
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-web {
  color: var(--primary-logo-cl);
}

.header-logo-studio {
  color: var(--secondary-logo-cl);
}

.nav-link {  
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);

  color: var(--secondary-txt-cl);
}

.address {
  font-style: normal;
}

.mail-link,
.tel-link {  
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

  color: currentColor;  
}

.nav-list .link:hover,
.nav-list .link:focus,
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-link-txt-cl);  
}

/* Hero */

.hero {
  background-color: var(--header-bgd-cl);
}

.hero-title {
  font-size: 56px;
  line-height: calc(60 / 56);

  color: var(--hero-txt-cl);

  text-align: center;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  color: var(--btn-hero-txt-cl);
  background-color: var(--btn-hero-bgd-cl);

  cursor: pointer;

  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btns-bgd-cl);
}

/* Feature */

.feature-title {  
  font-size: 36px;
  line-height: calc(40 / 36);

  text-transform: capitalize;
  text-align: center;

  color: var(--secondary-txt-cl);  
}

.feature-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);

  color: var(--secondary-txt-cl);
}

.feature-text {
  font-size: 16px;
  line-height: calc(24 / 16);  
}

/* What are we doing */

.works-title {
  font-size: 36px;
  line-height: calc(40 / 36);

  text-transform: capitalize;
  text-align: center;

  color: var(--secondary-txt-cl);
}

/* Our team */

.team-title {
  font-size: 36px;
  line-height: calc(40 / 36);

  text-transform: capitalize;
  text-align: center;

  color: var(--secondary-txt-cl);
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);

  color: var(--secondary-txt-cl)
}

.team-text {
  font-size: 16px;
  line-height: calc(24 / 16);
}

/* Footer */

.footer {
  background-color: var(--footer-bgd-cl);
}

.footer-logo-web,
.footer-logo-studio {
  font-family: var(--secondary-font);  
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-web {
  color: var(--primary-logo-cl);
}

.footer-logo-studio {
  color: var(--footer-studio-cl);
}

.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);

  color: var(--footer-txt-cl);
}

/* Portfolio cards */

.portfolio-title {
  font-size: 36px;
  line-height: calc(40 / 36); 

  text-transform: capitalize;
  text-align: center;

  color: var(--secondary-txt-cl);
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  color: var(--btns-portfolio-txt-cl);
  background-color: var(--btns-portfolio-bgd-cl);

  cursor: pointer;

  border: 1px solid #E7E9FC;
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--accent-btns-portfolio-txt-cl);
  background-color: var(--accent-btns-bgd-cl);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);

  color: var(--secondary-txt-cl);
}

.portfolio-text {  
  font-size: 16px;
  line-height: calc(24 / 16);
}